<body class="yellow reLoad">
    <div id="logo">
        {{!--
        <img id="logoImage" src="/assets/logo-01.png" alt="Trigger Tracker"> --}} {{!-- turns our image into a button --}} {{!--
        <a href="/index"> --}}
            <input id="logoImage" type="image" src="/assets/logo-01.png" name="saveForm" class="btTxt submit" id="saveForm" /> {{!-- </a> --}}
    </div>

    <div class="load">
        <div class="loader" class="col-md-12"></div>
    </div>

    <script src="/js/graphs.js"></script>
    <script src="js/front.js"></script>
</body>